apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: go-170164909
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/hacdev/7gh4f1kv-tenant/test-app-170164909/go-170164909@sha256:cf21d64cafbecc07e7a87e70a449ba7a588069574710abb6f392954b7156b24b
        name: my-go
        resources: {}
status: {}
